body{
  background-color: #f9f9f9;
}
.container{
  width: 66%;
  margin: 0px auto; 
}

.navbar{
  background-color: #2196F3;
  color: #ffffff;
  height: 40px;
  padding: 100px 0px 25px;
}

.navbar h1{
  font-size: 46px;
  margin: 0px !important
}

h1.chapter-title{
  color: #2196F3;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

.card{
  background-color: #ffffff;
  border-radius: 2px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.shadow-z-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-z-2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-z-3{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-z-4{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-z-5{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.custom-card-shadows{
    height: 95px;
    margin: 20px;
    width: 95px;
    text-align: center;
    vertical-align: middle;
}

.custom-card-card{
    display: block;
    margin: 20px;
    padding: 20px;
}

.custom-card-card:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
